.client {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	overflow: hidden;
	-webkit-perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
}

.viewport {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
}

.camera {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;
}

.assembly {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
}

.camera div {
	position: absolute;
	-webkit-transform-origin: 0% 0%;
}

.camera .course {
	background-image: url(/images/course.png);
	width: 2400px;
	height: 2400px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: rotateX(90deg);
}

.camera .course div {
	position: absolute;
}

.player {
	width: 64px;
	height: 88px;
	background-color: transparent;
	background-image: url(/images/faces/kim.png);
	-webkit-transform-origin: 50% 50%;
	transition: -webkit-transform 0s;
}

.items {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	/*-webkit-transform: rotateY(-90deg);*/
}

.items div {
	position: absolute;
}

.star {
	width: 64px;
	height: 64px;
	-webkit-transform-style: preserve-3d;
}

.star .star-image {
	position: absolute;
	width: 64px;
	height: 64px;
	background-color: transparent;
	background-image: url(/images/items/star.png);
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: spin;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(360deg);
	}
}

.dashboard {
	position: absolute;
	bottom: 0px;
}

.accelerator {
	z-index: 9999;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 20%;
	height: 40%;
	border: solid 3px #0f0;
}

.brake {
	z-index: 9999;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 20%;
	height: 40%;
	border: solid 3px #f00;
}

#calibrate {
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 9999;
	background-color: #009;
	height: 40px;
}