<div ng-repeat="(key, value) in object">
	<div ng-switch="typeOf(value)">
		<div ng-switch-when="object">
			<div class="header" ng-click="ex(key)"> 		
				<span ng-class="{glyphicon:true, 'glyphicon-plus': !expand[key], 'glyphicon-minus': expand[key]}"></span>
				<span>{{key}}</span> 
			</div>
			<div ng-if="expand[key]">
					*{{key}}
				<div object-editor object="object[key]"></div> 
			</div>
		</div>
		<div ng-switch-default>
			<span>{{key}}</span> 
			<input ng-if="isType(value, 'number')" type="range" value="{{value}}" /> 
			<input ng-if="isType(value, 'string')" type="text" value="{{value}}" /> 
		</div>
	</div>
</div>